<!doctype html>
<html>
    <head>
        <title>List of books</title>
    </head>
    <body>
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
                <h3 class="{{ category }}">{{ message }}</h3>
            {% endfor %}
            </ul>
            {% endif %}

        <a href="{{ url_for('book_create') }}" >Create new book <br> </a>
        <form action="/books" method="get">
            <input type="search" name="term" value="{{ search }}" />
            <input type="submit" value="Search" />
          </form>
        
            <ul>
        {% for book in books %}
        <li>
            <a href="{{ url_for('book_get', id=book.id) }}">
              {{ book.id }}. {{ book.name }} </a>
              <br> {{ book.summary }}
        </li>
          
        {% endfor %}
            </ul>

    </body>
</html>