<!doctype html>
<html>
    <head>
        <title>List of users</title>
    </head>
    <body>
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
                <h2 class="{{ category }}">{{ message }}</h2>
            {% endfor %}
            </ul>
            {% endif %}

        <a href="{{ url_for('create_user') }}" >Create new user <br> </a>
        <form action="/users" method="get">
            <input type="search" name="term" value="{{ search }}" />
            <input type="submit" value="Search" />
          </form>
        
            <ul>
        {% for user in users %}
        <li>
            <a href="{{ url_for('get_user', id=user.id) }}">
              {{ user.id }}</a>. {{ user.name }}, {{ user.email }}
        </li>
          
        {% endfor %}
            </ul>

    </body>
</html>